h1{
text-align: center;
color: white;

}
h2{
    text-align: center;
    color:white;

}
img{
    text-align: center;
    display:block;
    margin:20px auto;
}
a{
text-align: center;
display:block;
color: darkgreen;
text-decoration: none;

}